/* COMMON */
.standard-text{
  font-size: 16px;
}

/* FINE COMMON */

/* HEADER */

header .logo img{
  width: 80%;
  vertical-align: top;
}

header .logo{
  line-height: 35px;
}

nav{
  padding: 20px 0;
}

.menu{
  list-style-type: none;
  margin-bottom: 0;
}

.menu li{
  display: inline-block;
  margin-left: 12px;
  line-height: 35px;
}

.menu li a{
  text-decoration: none;
  color: black;
}

.right .my-btn{
  color: blue;
  border: 1px solid blue;
}

/* Jumbotron */
.jumbotron{
  background-image: url("../img/ms-jumbo.jpg");
  color: white;
}

.user-hub{
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
}

.google-btn{
  margin-top: 10px;
  background-image: url("../img/google-icon.png");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: left center;
}

.jumbotron .user-hub p{
  font-size: 12px;
}

.user-hub p a{
  text-decoration: underline;
}
/* FINE HEADER */
